<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>charger affaires</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-divider>
    <ion-label class="titre">
      <h2> Contact charger affaire:</h2>
    </ion-label>
  </ion-item-divider>

  <ion-card *ngFor="let affaire of affaires">
    <ion-text>
      <h2> {{affaire.prenom}} {{affaire.nom}} </h2>
      <p> {{affaire.fonction}}</p>
      <p><a href="tel:{{affaire.telephone}}">  {{affaire.telephone}}</a> </p>
      <p><a href="mailto:{{affaire.mail}}">  {{affaire.mail}}</a> </p>
    </ion-text>
  </ion-card>

</ion-content>
