<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" id="menu">
      <ion-content>
       
        <ion-list id="inbox-list">
          <div class="blc_logo">
            <img src="../assets/shapes.svg">
          </div>
         <div>
         
         </div>
          <ion-button (click)="logout()"  expand="block" fill="clear" color="danger" shape="round">
            Déconnection
          </ion-button>
        </ion-list>

        <ion-item-divider  style="cursor: pointer;">
          <ion-icon slot="start" name="calendar"></ion-icon>
          <ion-label class="titre">
            Planning
          </ion-label>
        </ion-item-divider>
        <ion-item    style="cursor: pointer;">
          <ion-label [routerLink]="['/planning']">Voir planning >></ion-label>
        </ion-item>

        <ion-item-divider  style="cursor: pointer;">
          <ion-icon slot="start" name="folder-open"></ion-icon>
          <ion-label class="titre">
            Missions
          </ion-label>
        </ion-item-divider>
        <ion-item    style="cursor: pointer;">
          <ion-label [routerLink]="['/missions']">Liste Missions >></ion-label>
        </ion-item>

        <ion-item-divider  style="cursor: pointer;">
          <ion-icon slot="start" name="call"></ion-icon>
          <ion-label class="titre">
            contact
          </ion-label>
        </ion-item-divider>
        <ion-item    style="cursor: pointer;">
          <ion-label [routerLink]="['/admin']">Administration >></ion-label>
        </ion-item>
        <ion-item    style="cursor: pointer;">
          <ion-label [routerLink]="['/affaire']">Charger d'affaires >></ion-label>
        </ion-item>
        <ion-item    style="cursor: pointer;">
          <ion-label [routerLink]="['/techs']">Techniciens >></ion-label>
        </ion-item>
        
        <ion-item-divider  style="cursor: pointer;">
          <ion-icon slot="start" name="navigate"></ion-icon>
          <ion-label class="titre">
            Adresses
          </ion-label>
        </ion-item-divider>
        <ion-item    style="cursor: pointer;">
          <ion-label [routerLink]="['/entreprise']">Entreprises >></ion-label>
        </ion-item>

        <ion-item-divider  style="cursor: pointer;">
          <ion-icon slot="start" name="document-attach"></ion-icon>
          <ion-label class="titre">
            Documents
          </ion-label>
        </ion-item-divider>
        <ion-item    style="cursor: pointer;">
          <ion-label [routerLink]="['/notes']">Notes de services >></ion-label>
        </ion-item>
<!--
        <ion-item-divider  style="cursor: pointer;">
          <ion-icon slot="start" name="create"></ion-icon>
          <ion-label class="titre">
            Formulaires
          </ion-label>
        </ion-item-divider>
        <ion-item    style="cursor: pointer;">
          <ion-label [routerLink]="['/outillages']">Demande outillages >></ion-label>
        </ion-item>
       
      -->
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
