<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>missions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label class="titre">
      Choisissez votre mission:
    </ion-label>
  </ion-item-divider>

  <ion-item *ngFor="let mission of missions">
    <ion-label> <span>Entreprise:</span> {{mission.entreprise}} <br /><span>Mission du:</span> {{ mission.date }}
      
    </ion-label>
    <ion-button expand="block" fill="clear" [routerLink]="['/mission',mission.id]">
      <ion-icon slot="end" color="success" title="voir" name="eye"></ion-icon>
    </ion-button>
    <!--
    <ion-button (click)="showFin()" expand="block" fill="clear">
      <ion-icon slot="end" name="arrow-redo"></ion-icon>
    </ion-button>
-->
  </ion-item>
</ion-content>