@import '../../../theme/app.scss';

ion-item-divider{
 @include diviser;
}

ion-item{
    ion-label{
        color: black;
        text-transform: uppercase;
        font-weight: bold;
        p{
            text-transform: initial;
            text-decoration: none;
            font-weight: normal;
            margin-top: 5px;
            color: rgb(68, 68, 68);
        }
        .taches{
            font-weight: 550;
            color: black;
          
        }
    }
}

